.intro {
  min-width: 320px;
  padding-bottom: 280px;
  margin-bottom: 100px;
  background-color: var(--color-black-pearl);

  @include vp-1023 {
    padding-bottom: 0;
    margin-bottom: 300px;
  }
}

.intro__bg-image {
  width: 1920px;
  height: 880px;
  min-width: 320px;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, 0);

  @include vp-1023 {
    height: 640px;
    object-position: -125px top;
  }

  @include vp-374 {
    height: 560px;
    object-position: -230px top;
  }
}

.intro h2 {
  margin: 0;
  padding-top: 304px;
  margin-left: 125px;
  margin-bottom: 32px;

  position: relative;
  z-index: 2;

  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--color-alice-blue);

  @include vp-1023 {
    padding-top: 180px;
    margin-left: 0;
    margin-bottom: 0px;

    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.07em;
  }

  @include vp-374 {
    padding-top: 150px;
    padding-bottom: 8px;
    font-size: 36px;
    line-height: 42px;
  }
}

.intro p {
  margin: 0;
  margin-bottom: 46px;
  margin-left: 125px;
  width: 685px;

  position: relative;
  z-index: 2;

  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: var(--color-alice-blue);

  @include vp-1023 {
    margin-left: 0;
    margin-bottom: 56px;
    width: auto;
  }

  @include vp-374 {
    margin-bottom: 45px;
    font-family: $ff-ptmono;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
  }
}

.button--intro {
  margin: 0 auto;
  margin-left: 125px;
  position: relative;
  z-index: 2;

  @include vp-1023 {
    margin-left: 45px;
  }

  @media (max-width: 600px) {
    margin-left: 0;
    width: 270px;
    min-height: 40px;
  }

  @include vp-374 {
    margin: 0;
    margin-left: 0;
    width: 270px;
    min-height: 40px;
    font-family: $ff-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.intro__button-text1 {
  @media (max-width: 600px) {
    display: none;
  }
}

.intro__button-text2 {
  @media (min-width: 601px) {
    display: none;
  }
}
