.button {
  padding: 0;
  width: 160px;
  min-height: 40px;

  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &--header {
    border-radius: 3px;
    border: 1px solid var(--color-alice-blue2);
    color: var(--color-alice-blue);
    background-color: var(--color-black-pearl);
  }

  &--intro {
    width: 410px;
    min-height: 55px;
    font-size: 18px;
    line-height: 21px;
    border-radius: 3px;
    border: none;
    color: var(--color-alice-blue);
    background-color: var(--color-deep-sky-blue);
  }

  &--about {
    font-size: 14px;
    line-height: 16px;
    border-radius: 3px;

    color: var(--color-deep-sky-blue);
    border: 1px solid var(--color-deep-sky-blue);
    background-color: var(--color-default-white);
  }

  @include hover-white-blue;
  @include noselect;
}
